* {
     margin: 0px;
     padding: 0px;
     font-size: 20px;
}

.reloj 
{
     font-size: 50px;
     color: rgb(208, 255, 0);
     margin: 0 auto;
     text-align: center;
}

.container 
{
     
     background-color: rgb(46, 35, 35);
     padding: 20px;
     width: 70%;
     max-width: 1000px;
     margin: 0 auto;
}

body 
{
     background-color: #000000;
}

.reloj:hover 
{
     font-size: 80px;
     box-shadow: 5px 0px 5px 3px #fff;
     
}

.parrafo
{
     font-size: 100px;
     color: rgb(208, 255, 0);
     text-align: center;
     justify-content: center;
     align-items: center;
}
